
.container{
  margin: 100px auto;
  padding: 0 20px;
}

.live-market-title {
  width: fit-content;
  margin: 0 auto;
  color: #fff;
}

.grid{
  max-width:900px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 250px;
  height: 100px;
  background:#111827;
  padding: 10px;
  padding-left: 20px;
  border-radius:14px;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
  color: #fff;
}

.price{
  font-size:32px;
  font-weight:bold;
  color:#4ade80;
}

.multi-section {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-height: 600px;
}

.candle-stick-chart {
  padding: 10px;
  border-radius: 10px;
  background:#111827;
  box-shadow:0 20px 40px rgba(0,0,0,0.4);
}
