.container{
  padding:40px;
  background: linear-gradient(135deg, #0f172a, #020617);
  color:#e6edf3;
  min-height:100vh;
  padding-top: 85px;
}

.news-title{
    text-align: center;
    margin: 15px auto;
    margin-bottom: 45px;
}

.cards{
  display:flex;
  justify-content: space-around;
  gap:20px;
  width: fit-content;
  margin: 0 auto;
  margin-bottom:30px;
  margin-top: 1rem;
}

.card{
  background:#111827;
  padding:20px;
  border-radius:12px;
  width: 190px;
  height: 100px;
  border:1px solid #1f2937;
  transition:0.2s;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s ease-in;
}

button{
  width: 80px;
  margin-top:10px;
  padding:6px 12px;
  background:#00c896;
  border:none;
  border-radius:6px;
  color:black;
  font-weight:bold;
  cursor:pointer;
  transition: 0.1s ease-in;
}

button:hover {
  background: #00291e;
  transform: scale(1.05);
  color: #fff;
  border: .5px solid #00c896;
  transition: 0.1s ease-out;
}

button:active {
  transform: scale(0.98);
  transition: 0.1s ease-out;
}

.status{
  background:#020617;
  padding:15px;
  border-radius:8px;
  width: fit-content;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom:20px;
  border:1px solid #1f2937;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.8px;
}

.summary{
  background:#020617;
  width: 1000px;
  margin: 0 auto;
  margin-top: 40px;
  padding:20px;
  border-radius:10px;
  border:1px solid #1f2937;
  font-size: 18px;
  letter-spacing: 0.8px;
}
