.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 100;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

.logo span {
  font-weight: 700;
  font-size: 1.5rem;
  background: linear-gradient(90deg, #00ffc8, #00b3ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
  transition: 0.3s ease-in;
}

.logo:hover {
  transform: scale(1.04);
  transition: 0.4s ease-out;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links li::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #00ffc8;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-links li:hover::after {
  width: 100%;
}

.nav-links li:hover {
  color: #00ffc8;
}

.logout-divider {
  position: relative;
  width: 40px;
  height: 0;
  align-self: center;
  rotate: calc(90deg);
}

.nav-links .logout-li {
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease;
  position: relative;
}

.nav-links .logout-li::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background: #ff6d2a;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-links .logout-li:hover::after {
  width: 100%;
}

.nav-links .logout-li:hover {
  color: #ff6d2a;
}
